@font-face {
  font-family: 'Archive Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Archive Regular'), url('/fonts/Archive-Regular.woff');
}

.social-icons {
  display: flex;
  justify-content: center;
}

.fa-brands {
  margin: 10px;
}

.navbar .navbar-nav .nav-link.active {
  color: #FB0102 !important;
}

.btn-primary {
  color: #fb0102 !important;
  border-color: #fb0102 !important;
}

a, h3.article-title a:hover {
  color: #279af1 !important;
}