@font-face {
  font-family: 'Archive Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Archive Regular'), url('/fonts/Archive-Regular.woff');
}

.social-icons {
  display: flex;
  justify-content: center;
}

.fa-brands {
  margin: 10px;
}