// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// font
$font-family-base: 'Hanken Grotesque', sans-serif;

body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: $font-family-base;
}