<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<!-- <script src='https://threejs.org/examples/js/libs/stats.min.js'></script> -->
<script defer>
  document.addEventListener('DOMContentLoaded', function() {
    const nav = document.querySelector('.navbar-brand');
    if (nav) {
      nav.textContent = ""
      const icon = document.createElement('img');
      icon.src = '/images/logo.jpg';
      icon.alt = 'Site Icon';
      icon.style.height = '30px';
      icon.style.marginRight = '10px';
      nav.insertBefore(icon, nav.firstChild);
    }
  });

  document.addEventListener("DOMContentLoaded", function() {
    const socialMediaLinks = [
        { href: "https://www.instagram.com/amsterdam_policy_hackathon", iconClass: "fa-brands fa-instagram", alt: "Instagram" },
        { href: "https://www.linkedin.com/company/amsterdam-policy-hackathon", iconClass: "fa-brands fa-linkedin", alt: "LinkedIn" }
    ];
    
    const footer = document.getElementsByTagName("footer");
    const copy_text = document.getElementsByClassName("copyright-license-text")[0]
    const socialContainer = document.createElement("div");
    socialContainer.classList.add("social-icons");
    
    socialMediaLinks.forEach(link => {
        const anchor = document.createElement("a");
        anchor.href = link.href;
        anchor.target = "_blank";
        anchor.rel = "noopener noreferrer";
        anchor.innerHTML = `<i class="${link.iconClass}" aria-hidden="true"></i>`;
        anchor.setAttribute("aria-label", link.alt);
        socialContainer.appendChild(anchor);
    });
    
    footer[0].insertBefore(socialContainer, copy_text);

    const people = document.getElementsByClassName("people-person")
    for (let person of people) {
        const link = person.querySelector('a');
        if (link) {
            link.style.color = '#000000';
        }
    }
});
  
</script>